@font-face {
    font-family: Avenir;
    src: url(../Fonts/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: Avenir2;
    src: url(../Fonts/AvenirLTStd-Book.otf);
}

body {
    margin: 0;
    font-family: Avenir;
}

.awashImage1 {
    height: clamp(1rem, 120vw, 100rem);
}

.awashImage2 {
    height: clamp(1rem, 85vw, 100rem);
}

