.content {
    padding-left: clamp(0.2rem, 6vw, 4rem);
    padding-right: clamp(0.2rem, 6vw, 4rem);
}

.heroSection > img {
    width: 100%;
    object-fit: cover;
    height: clamp(0.4rem, 90vw, 50rem);
    padding-bottom: clamp(0.4rem, 11vw, 5rem);
}

.content > h1 {
    margin: 0;
    font-size: clamp(0.4rem, 9vw, 5rem);
    padding-bottom: clamp(0.4rem, 6vw, 2rem);
}

.content > h2 {
    margin: 0;
    font-size: clamp(0.4rem, 5vw, 3rem);
    color: #0E3D95;
    padding-bottom: clamp(0.4rem, 5vw, 2rem);
}

.content > p {
    font-family: Avenir2;
    margin: 0;
    font-size: clamp(0.4rem, 3vw, 2rem);
    padding-bottom: clamp(0.4rem, 3vw, 2rem);
}

.content > img {
    object-fit: cover;
    width: 100%;
    padding-bottom: clamp(0.4rem, 3vw, 2rem);
}

.content > h3 {
    margin: 0;
    font-size: clamp(0.4rem, 4vw, 3rem);
    color: #0E3D95;
    padding-bottom: clamp(0.4rem, 5vw, 2rem);
}